```
program1
program2
*.so
*.o
*~
*.bak
*.swp
*.swo
*.tmp
*.d
.deps/
.build/
.vscode/
.idea/
*.code-workspace
.DS_Store
Thumbs.db
*.log
strace_*.txt
core
core.*
*.obj
*.pch
*.lib
*.dll
*.exp
*.dSYM/
*.su
*.idb
*.pdb
*.cbp
*.layout
*.depend
*.workspace
Makefile.in
autom4te.cache/
config.log
config.status
configure
```